.container{
    display: flex;
    gap: 2em;
    margin-bottom: 5em;
}


.left-right{
    flex: 10%;
}

.container-flexbox{
    display: flex;
    gap: 5em;
    margin-top: 3em;
}

.container-flexbox > *{
    flex: 1
    
}

.container-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}
.grid-col-1-span{
    grid-column-start: 1;
   
}

.grid-col-2-span{
    grid-column-start: 2;
    grid-row-start: 2;
}

.grid-col-3-span{
    grid-column-start: 3;
    
}

body{
    background-color: beige;

}
h1{
    color: lightgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    
}

img{
    border-radius: 10%;
    width: 150px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
   
    
     
}

#background-arc{
    height: 150%;
    width: 100%;
    top: 0;
    left: -50%;
    background-color: burlywood;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transform: translate();
}

h1:hover{
    text-shadow: burlywood 2px 3px 5px;
}

img:hover{
    box-shadow: burlywood 5px 4px 10px
}
.special-text{
   text-align: center;
   
  
}

.adress-text{
    color: black; 
    
   
 }

a:visited{
    color: red;
}

a:hover{
    
}